/target
/.idea
/.vscode
*.iml
.DS_Store
local.properties
.gradle
android/**/build
*.db
*.db-shm
*.db-wal
.env
**/tests/snapshots/**/*.diff.png
**/tests/snapshots/**/*.new.png
**/tests/snapshots/**/*.old.png
